SUPABASE_URL=
SUPABASE_SECRET_KEY=
RECAPTCHA_SECRET_KEY=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
RESEND_API_KEY=
DASHBOARD_MESSAGE_FROM="LifeGate Community <messages@lifegatecommunity.com>"
