rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    function isPublishedGroup() {
      return resource.data.hidden == 'no' ||
        ('status' in resource.data && resource.data.status == 'approved');
    }

    match /groups/{groupId} {
      allow read: if isPublishedGroup() || isAdmin();
      allow create, update, delete: if isAdmin();
    }
  }
}
